# Generated website directory
_site/

# Sass cache
.sass-cache/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata

# Notes graph metadata
_includes/notes_graph.json

# Obsidian config
.obsidian/

# ignore
POST.md

_notes/wating/*
_notes/wating/이미지파일유니크
_notes/wating/데이터베이스드라이버
_notes/wating/jwt이야기

**/private/