---
layout: default
---

<div class="posts-list">
  {% assign notes = site.notes | where_exp: "item", "item.tags contains 'study'"
  | sort: "last_modified_at" | reverse %}

  <ul>
    {% for note in notes %}
    <li style="display: flex; align-items: flex-start; gap: 2rem">
      <div style="flex: 1">
        <h2 class="post-title">
          <a href="{{ note.url }}" class="internal-link">{{ note.title }}</a>
        </h2>

        {% if note.tags %}
        <div class="tags">
          {% for tag in note.tags %}
          <a href="/tags/{{ tag }}" class="tag">{{ tag }}</a>
          {% endfor %}
        </div>
        {% endif %} {% if note.excerpt %}
        <div class="excerpt">
          {{ note.excerpt | strip_html | truncatewords: 50 }}
        </div>
        {% endif %}

        <div class="post-meta">
          {% if note.last_modified_at %}
          <small
            >마지막 수정: {{ note.last_modified_at | date: "%Y-%m-%d" }}</small
          >
          {% endif %}
        </div>
      </div>
      <div style="min-width: 120px; max-width: 160px">
        {% if note.image %}
        <img
          src="{{ note.image }}"
          alt="썸네일"
          style="
            width: 100%;
            border-radius: 8px;
            object-fit: cover;
            aspect-ratio: 1/1;
          "
        />
        {% else %}
        <img
          src="/assets/default_thumbnai.jpg"
          alt="기본 썸네일"
          style="
            width: 100%;
            border-radius: 8px;
            object-fit: cover;
            aspect-ratio: 1/1;
          "
        />
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
